body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #1b1b2f;
    color: #f0eada;
  }

  .logo {
    height: 60px; 
    width: auto;  
    border-radius: 50%;
}

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b2953;
    padding: 1px 30px;

  }
  .header-links {
    display: flex;
    gap: 20px;
  }
  .header-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }

  .header-links a:hover {
    color: #e0c097;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  h2{
    text-align: center; 
    margin-top: 40px;
     color: #e0c097;
     font-size: 45px;
}
  .apres {

    text-align: center;
    margin-right: 10px;
    padding: 10px 300px;
    font-family: 'Georgia', serif;
    color: #dbb856;
    font-size: 25px;

  }


a {
    font-family: 'Georgia', serif;
    color: #e0dce6;
    
}

  .baner {
    text-align: center;
    padding: 190px 20px;
    background: url(../imagens/los.jpg) no-repeat center center;
    background-size: cover;
    color: #891bdd10;
  }


  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    gap: 30px;
  }

  .card {
    background-color: #26263a;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card p {
    padding: 15px;
    font-size: 20px;
    color: #ccc;
  }

  footer {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    background-color: #000;
    color: #aaa;
  }