body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1b1b2f, #884179); 
    color: #e0dce6;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo {
    height: 60px;
    width: auto;
    border-radius: 50%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b2953; 
    padding: 1px 30px;
  }
  
  .header-links {
    display: flex;
    gap: 20px;
  }
  
  .header-links a {
    color: #f0eada;
    text-decoration: none;
    font-size: 16px;
  }
  
  .header-links a:hover {
    color: #dbb856;
  }
  
  .galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .card {
    background: rgba(38, 38, 58, 0.9);
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    margin: 10px;
    text-align: center;
    color: #dbb856;
  }
  
  .card img {
    height: 270px;
    width: 200px;
    border-radius: 8px;
  }
  
  .card h3 {
    font-size: 18px;
    margin: 10px;
  }
  
  .card p {
    font-size: 17px;
    margin-bottom: 10px 0;
  }
  
  button {
    background-color: #dbb856; 
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #e0dce6; 
  }
  
  footer {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    background-color: #000;
    color: #aaa;
  }
  